.data-readout {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.filter-frame {
  display: flex;
  flex-direction: row;
  margin: 0;
  padding: 0;
}

.filter {
  display: flex;
  flex-direction: row;
  flex-grow: 1;
}
.data-table {
  display: flex;
  flex-direction: row;
  height: 150px;
  overflow-y: auto;
  flex-grow: 1;
}
