.data-readout {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.filter-frame {
  display: flex;
  flex-direction: row;
  height: 60;
  background-color: pink;
}
.data-table {
  display: flex;
  flex-direction: row;
  flex-grow: 1;
  background-color: green;
}
