.infopanel-frame {
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 0;
  overflow: visible;
}

.infopanel {
  display: flex;
  flex-grow: 1;
  overflow-y: auto;
}

.infopanel .ui .item.test-listitem {
  padding-top: 0.92307692em;
  min-height: 64px;
}

.infopanel .test-listitem .content.speed {
  padding: 2px 0;
}

.infopanel .test-listitem .content.icon {
  padding: 2px 0;
  margin-right: 4px;
}

.infopanel .accordion {
  display: flex;
  flex-grow: 1;
  overflow-y: auto;
  flex-direction: column;
}

.infopanel > .list {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
}

.infopanel .listitem {
  display: flex;
  flex-grow: 1;
  flex-direction: row;
}

.infopanel .accordion .content {
  padding: 0 0 0 0px;
}

.infopanel .accordion .content.active {
  padding: 0 0 0 35px;
}

.infopanel .title .group-logo {
  opacity: 0.7;
}

.infopanel .title:hover .group-logo {
  opacity: 1;
}

.group-title {
  height: 60px;
}

.infopanel .ui.styled.accordion .title.group-title {
  transition: background-color 0.2s ease-in;
}

.infopanel .ui.styled.accordion .title.active.group-title {
}

.infopanel .title.active .group-logo {
  opacity: 1;
}

.infopanel .ui.styled.accordion {
  background-color: rgba(255, 255, 255, 0.8);
}
