.infopanel-frame {
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 0;
  overflow: visible;
}

.infopanel {
  display: flex;
  flex-grow: 1;
  overflow-y: auto;
}

.infopanel .ui .item.test-listitem {
  padding-top: 0.92307692em;
  min-height: 64px;
}

.infopanel .test-listitem .content.speed {
  padding: 2px 0;
}

.infopanel .test-listitem .content.icon {
  padding: 2px 0;
  margin-right: 4px;
}

.infopanel .accordion {
  display: flex;
  flex-grow: 1;
  overflow-y: auto;
  flex-direction: column;
}

.infopanel > .list {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
}

.infopanel .listitem {
  display: flex;
  flex-grow: 1;
  flex-direction: row;
}

.infopanel .accordion .content.active {
  padding: 0 0 0 20px;
}
